nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
:not(.goals)
  ul li {
    position: relative;
    top: 0;
    text-align: center; 
    font-weight: bold;
    color: #FFFFFF;
  }
nav ul li {
  margin-bottom: 2px
}

nav a {
  display: block;
  border: 3px solid #666600;
  padding: 15px 15px 15px  15px; 
}

nav a:link{
  background-color: #666600;
  }

Nav a:hover, nav a:focus{
background-color: ##003366;
}

nav a:active {
  background-color: #003366;
}

nav ul>li ul {
  position: absolute;
  margin-top: 0;
  margin-left: 100%;
  display: none;
}

nav>ul>li:hover>ul{
  display: block;
}
