/* W3schools CSS validation returned no errors - 4/22/2021 */ 

#navbar {
    position: sticky;
    text-align: center;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #333300;
    height: 500px;
    color: #ffffff;
    border-radius: 10px;
  }

#navbar .topnav-centered a {
  text-align: center;
}

#navbar ul {
  list-style-type: none;
  position: relative;
  top: 0;
  width: 100%;
}

#navbar ul li {
  float: left;
}

#navbar ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

#navbar ul ul li {float: none;}

#navbar ul li:hover > ul {
  display: block;
  color: #FFFFFF;
}

#navbar > ul::after {
  content: "";
  display: block;
  clear: both;
}

#navbar ul li a {
  text-align: center;
  display: block;
  width: 175px;
  padding: 1em 0;
  text-decoration: none;
  background-color: #666600;
  color: #FFFFFF;
  font-weight: bold;
  border-right: 2px solid white;
}

#navbar ul li a.lasitem { border-right: none;}

#navbar ul li a.current {color:yellow}

#navbar a:link{
  background-color: #666600;
  color: #ffffff;
  }

#navbar a:hover{
background-color: #003366;
color: #ffffff;
}

#navbar a:active {
  background-color: #003366;
  color: #ffffff;
}