/* W3schools CSS validation returned no errors - 4/25/2021 */ 


/* Font-face addition */

@font-face {
    font-family: 'Just Another Hand', cursive;
    src: url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family");
}

    /* Column container */
   .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 20%;
    background-color: #FFFFCC;
    padding: 0px;
  }
  
  /* Fake image, just for this example */
  .headshot {
    position: flex;
    flex-wrap: wrap;
    background-color: #FFFFCC;
    border-radius: 50%;
    width: 20%;
    padding: 5px;
    border: 3px solid;
    border-color: #000066;
    height: auto;
    mask-image: url(andreac.jpg);
      }

  
  /* Main column */
  .main {
    flex: 80%;
    background-color: #FFFFCC;
    margin-left: 20px;
    padding: 20px;
  }

h1{
    color: #000066;
    font-family: Georgia;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

h2{
    color: #333300;
    font-family: Lato;
    margin-left: 15px;
    text-indent: 1em;
    font-size: 110%;
}

body{ 
    color: #333300;
    background-color: #FFFFCC;
    font-family: lato;
}

/* Box model for paragraphs */
p {
    background-color: #FFFFCC;
    color: #333300;
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15;
    border: none;
    padding: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 2em;
}
  /* Footer */
  .footer {
    bottom: 0px;
    padding: 20px;
    text-align: center;
    background: #333300;
    list-style-type: none;
  }

  .footericons {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: space-evenly;
}
    @media screen and (max-width: 900px) {
    .footer, .footericons {
        font-size: 100%;
        text-align:center;
    }
   
}

/* Media Queries for responsive design */
@media  screen and (max-width: 600px) {
    p {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 800px) {
    p {
        font-size: 1.25rem;
        line-height: 1.25;
    }
}

/* CSS pseudo-element for different first letter in each paragraph 
p:first-letter{
    font-size: 150%;
    font-family: georgia;
    color: #333300; 
 }
 */

 /* CSS pseudo-element for indenting each paragraph */
 p::first-line{
     text-indent: 2em;
 }

 /* reducing space after unordered lists */
 ul {
     color: #333300;
     margin-bottom: 0px;
     margin-left: .5em;
     padding-left: 50px;
 }

blockquote {
    text-align: center;
    color: #333300;
    font: 1.5em "Just Another Hand", cursive;
    letter-spacing: 1.5px;
}

.project-buttons-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    background-color: #FFFFCC;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-buttons {
    background-color: #666600;
    border: none;
    color: #FFFFCC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

/*print style*/
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }


    .branding-logo,
    .navbar,
    .menu,
    .menu-link,
    .submenu,
    .has-dropdown,
    .img,
    .header,
    .side,
    .footericons {
        display: none;
         }
         .main-header {
             margin-bottom: 0;
             border: none;
             text-align: center;
         }
         a:after {
             content: "["attr(href)"]";
             color: blue;
         }
         @page {
             margin: 1in 1in 1in 1in;
            }
         p, ul {
             orphans: 3;
             widows: 3;
             font-size: 11pt;
            }
        }